.cards__list {
    max-width: 1140px;
    margin: 0 auto;
    padding: 81px 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
}

@media screen and (max-width: 769px) {
    .cards__list {
        padding: 70px 30px 30px;
    }
}

@media screen and (max-width: 481px) {
    .cards__list {
        max-width: 300px;
        padding: 50px 10px 30px;
        gap: 20px;
    }
}