.auth__container {
    min-height: calc(100vh - 140px);
    padding: 70px 30px;
    max-width: 396px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-direction: column;
}

@media screen and (max-width: 769px) {
    .auth__container {
        min-height: calc(100vh - 464px);
        padding: 232px 30px;
    }
}

@media screen and (max-width: 481px) {
    .auth__container {
        min-height: calc(100vh - 86px);
        padding: 56px 30px 30px;
        gap: 50px;
    }
}